In [1]:
import pandas as pd
import numpy as np

In [2]:
df_origin = pd.read_csv("seoul_cir.csv")

In [3]:
df = df_origin.ix[1:]
df.head()

,"﻿""관측일자""",지점명,평균기온(℃),최저기온(℃),최대기온(℃),평균습도(%),최저습도(%),최고습도(%),평균풍속(m/s),최대풍속(m/s),강수량(mm)
1,20160127,남산,-0.10000000149011612,-3.4000000953674316,3.2000000476837158,49.299999237060547,26.399999618530273,71.900001525878906,1,4.5999999046325684,0
2,20160127,강서,0,-3.7999999523162842,3.5999999046325684,62.099998474121094,43.400001525878906,73.900001525878906,1.1000000238418579,4.0999999046325684,0
3,20160127,성북,0.20000000298023224,-3.0999999046325684,3.9000000953674316,56.200000762939453,39.900001525878906,65.800003051757812,1.1000000238418579,5.1999998092651367,0
4,20160127,도봉,-0.40000000596046448,-4.8000001907348633,4.0999999046325684,56.799999237060547,37,75.5,0.89999997615814209,3.7000000476837158,0
5,20160127,마포,-0.30000001192092896,-4,3.7999999523162842,61.099998474121094,41.799999237060547,74.300003051757812,0.89999997615814209,4.6999998092651367,0

In [4]:
df.columns = ['date','place', 'avg_temp', 'l_temp','h_temp','avg_hum','l_hum','h_hum','avg_wind','h_wind','rain']
df.head()

,date,place,avg_temp,l_temp,h_temp,avg_hum,l_hum,h_hum,avg_wind,h_wind,rain
1,20160127,남산,-0.10000000149011612,-3.4000000953674316,3.2000000476837158,49.299999237060547,26.399999618530273,71.900001525878906,1,4.5999999046325684,0
2,20160127,강서,0,-3.7999999523162842,3.5999999046325684,62.099998474121094,43.400001525878906,73.900001525878906,1.1000000238418579,4.0999999046325684,0
3,20160127,성북,0.20000000298023224,-3.0999999046325684,3.9000000953674316,56.200000762939453,39.900001525878906,65.800003051757812,1.1000000238418579,5.1999998092651367,0
4,20160127,도봉,-0.40000000596046448,-4.8000001907348633,4.0999999046325684,56.799999237060547,37,75.5,0.89999997615814209,3.7000000476837158,0
5,20160127,마포,-0.30000001192092896,-4,3.7999999523162842,61.099998474121094,41.799999237060547,74.300003051757812,0.89999997615814209,4.6999998092651367,0

In [5]:
seoul_gu_list =['강남구', '강동구', '강북구', '강서구', '관악구', '광진구',
'구로구', '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구',
'서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구',
'종로구', '중구구', '중랑구']

In [6]:
seoul_list = []
for i in seoul_gu_list:
    ii = i[:-1]
    seoul_list.append(ii)
seoul_list

['강남',
 '강동',
 '강북',
 '강서',
 '관악',
 '광진',
 '구로',
 '금천',
 '노원',
 '도봉',
 '동대문',
 '동작',
 '마포',
 '서대문',
 '서초',
 '성동',
 '성북',
 '송파',
 '양천',
 '영등포',
 '용산',
 '은평',
 '종로',
 '중구',
 '중랑']

In [7]:
# seoul_dict = {'강남':'df_gn',
#  '강동':'df_gd',
#  '강북':'df_gb',
#  '강서':'df_gs',
#  '관악':'df_ga',
#  '광진':'df_gj',
#  '구로':'df_gr',
#  '금천':'df_gc',
#  '노원':'df_nw',
#  '도봉':'df_db',
#  '동대문':'df_ddm',
#  '동작':'df_dj',
#  '마포':'df_mp',
#  '서대문':'df_sdm',
#  '서초':'df_sc',
#  '성동':'df_sd',
#  '성북':'df_sb',
#  '송파':'df_sp',
#  '양천':'df_yc',
#  '영등포':'df_ydp',
#  '용산':'df_ys',
#  '은평':'df_yp',
#  '종로':'df_jr',
#  '중구':'df_jg',
#  '중랑':'df_jl'}

In [8]:
#make initial df as dictionary
seoul_df_dict = {'강남':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '강동':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '강북':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '강서':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '관악':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '광진':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '구로':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '금천':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '노원':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '도봉':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '동대문':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '동작':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '마포':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '서대문':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '서초':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '성동':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '성북':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '송파':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '양천':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '영등포':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '용산':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '은평':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '종로':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '중구':pd.DataFrame(list(df.ix[3]), index=df.columns),
 '중랑':pd.DataFrame(list(df.ix[3]), index=df.columns)}

In [9]:
#transpose all df in seoul_df_dict
for i in seoul_list:
    seoul_df_dict[i] = seoul_df_dict[i].T
seoul_df_dict['종로']

,date,place,avg_temp,l_temp,h_temp,avg_hum,l_hum,h_hum,avg_wind,h_wind,rain
0,20160127,성북,0.20000000298023224,-3.0999999046325684,3.9000000953674316,56.200000762939453,39.900001525878906,65.800003051757812,1.1000000238418579,5.1999998092651367,0

In [ ]:
for i in seoul_list:
    seoul_df_dict[i] = seoul_df_dict[i].append(df[df.place == i])
    seoul_df_dict[i].ix[]