In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_excel('dust_data.xlsx')

In [10]:
df = df.ix[1:]
df.head()

    구분  미세먼지  초미세먼지     오존  이산화질소  일산화탄소  아황산가스
1  종로구    45     23  0.022  0.034    0.4  0.006
2  중구구    46     21  0.022  0.037    0.5  0.006
3  용산구    45     23  0.021  0.035    0.5  0.006
4  성동구    47     24  0.019  0.039    0.4  0.005
5  광진구    50     23  0.027  0.028    0.6  0.005

In [11]:
df.columns = ['gu_list', 'dust', 'micro_dust', 'oz', 'NO2', 'CO','SO3']

In [16]:
gu_list = list(df.gu_list)
gu_name = []

In [17]:
df.head()

  gu_list  dust  micro_dust     oz    NO2   CO    SO3
1     종로구    45          23  0.022  0.034  0.4  0.006
2     중구구    46          21  0.022  0.037  0.5  0.006
3     용산구    45          23  0.021  0.035  0.5  0.006
4     성동구    47          24  0.019  0.039  0.4  0.005
5     광진구    50          23  0.027  0.028  0.6  0.005

In [18]:
for i in gu_list:
    ii = i[:-1]
    gu_name.append(ii)

['종로',
 '중구',
 '용산',
 '성동',
 '광진',
 '동대문',
 '중랑',
 '성북',
 '강북',
 '도봉',
 '노원',
 '은평',
 '서대문',
 '마포',
 '양천',
 '강서',
 '구로',
 '금천',
 '영등포',
 '동작',
 '관악',
 '서초',
 '강남',
 '송파',
 '강동']

In [19]:
df['gu_name'] = gu_name

In [20]:
df.head()

  gu_list  dust  micro_dust     oz    NO2   CO    SO3 gu_name
1     종로구    45          23  0.022  0.034  0.4  0.006      종로
2     중구구    46          21  0.022  0.037  0.5  0.006      중구
3     용산구    45          23  0.021  0.035  0.5  0.006      용산
4     성동구    47          24  0.019  0.039  0.4  0.005      성동
5     광진구    50          23  0.027  0.028  0.6  0.005      광진

In [21]:
del(df['gu_list'])
df.head()

   dust  micro_dust     oz    NO2   CO    SO3 gu_name
1    45          23  0.022  0.034  0.4  0.006      종로
2    46          21  0.022  0.037  0.5  0.006      중구
3    45          23  0.021  0.035  0.5  0.006      용산
4    47          24  0.019  0.039  0.4  0.005      성동
5    50          23  0.027  0.028  0.6  0.005      광진

In [22]:
df.to_csv('seoul_dust.csv')

In [23]:
pd.isnull(df).any(1).nonzero()

(array([], dtype=int64),)