In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('dust_data.xlsx')

In [7]:
df = df.ix[1:]
df.head()

    구분  미세먼지  초미세먼지     오존  이산화질소  일산화탄소  아황산가스
1  종로구    45     23  0.022  0.034    0.4  0.006
2   중구    46     21  0.022  0.037    0.5  0.006
3  용산구    45     23  0.021  0.035    0.5  0.006
4  성동구    47     24  0.019  0.039    0.4  0.005
5  광진구    50     23  0.027  0.028    0.6  0.005

In [ ]:
seoul_list = []
for i in seoul_gu_list:
    ii = i[:-1]
    seoul_list.append(ii)
seoul_list